<ion-content [fullscreen]="true">
  <ion-app>
    <ion-menu contentId="main-content">
      <ion-toolbar class="menuContent">
        <img alt="car" src="../../../assets/images/bloodConnect.png" />
      </ion-toolbar>
      <ion-content class="content-padding">
        <ion-list lines="none">
          <ion-item>
            <ion-label [routerLink]="['/request-blood']"
              >Request Blood</ion-label
            >
          </ion-item>
          <ion-item>
            <ion-label [routerLink]="['/donate-blood']">Donate Blood</ion-label>
          </ion-item>
          <ion-item>
            <ion-label [routerLink]="['/blood-banks']">Blood Banks</ion-label>
          </ion-item>
          <ion-item>
            <ion-label [routerLink]="['/feedback']">FeedBack</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar class="myMenu">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-avatar>
              <ion-img
                alt="profile"
                src="../../../assets/images/bloodConnect.png"
              ></ion-img>
            </ion-avatar>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <h3 class="userName">Welcome <b>{{userName}}</b></h3>
        <div class="blood-tips">
          <ion-card class="tips-card">
            <ion-card-header>
              <h2>Blood Donation Tips</h2>
            </ion-card-header>
            <ion-card-content> {{ tips[currentTipIndex] }} </ion-card-content>
          </ion-card>
        </div>

        <ion-grid>
          <ion-row>
            <ion-col size="12" size-md="6">
              <ion-card color="white" [routerLink]="['/request-blood']">
                <ion-card-header>
                  <ion-img src="../../../assets/images/search.png"></ion-img>
                </ion-card-header>
                <ion-card-content>Request Blood</ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col size="12" size-md="6">
              <ion-card color="white" [routerLink]="['/donate-blood']">
                <ion-card-header>
                  <ion-img
                    src="../../../assets/images/blood-drop.png"
                  ></ion-img>
                </ion-card-header>
                <ion-card-content>Donate Blood</ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class="upcoming-events">
          <ion-card>
            <img
              alt="Silhouette of mountains"
              src="../../../assets/images/bloodConnect.png"
            />
            <ion-card-header>
              <ion-card-title>Blood Donation</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Ho fana ka mali ho bohlokoa
              <p>11/April/2024</p>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-content>
    </div>
  </ion-app>
</ion-content>
