ion-menu::part(backdrop) {
    background-color: rgba(138, 3, 3, 0.5)
  }
  
  ion-menu::part(container) {
    border-radius: 0 20px 20px 0;
    width: 55%;
    box-shadow: 10px 0px 16px rgba(141, 33, 33, 0.18);
  }
  
  ion-content {
    --ion-background-color: #ffff;
    --ion-padding-top: 10px;
    --ion-padding-bottom: 10px;
  }
  ion-content h3 {
    color: black;
    margin-left: 1.5rem;
  }
  
  .myMenu {
    --background: var(--ion-color-menu);
    margin-top: 0;
  }
  
  .menuContent {
    --background: var(--ion-color-menu);
    height: 125px;
    border-bottom-left-radius: 90%;
    border-bottom-right-radius: 90%;
    margin-bottom: 0;
  }
  
  img {
    height: 100px;
    width: auto;
    margin: auto;
    display: block;
  }
  
  ion-img {
    height: 45px;
    width: 45px;
    margin-top: 5px;
    display: block;
  }
  
  ion-grid {
    margin-top: 2%;
  }
  
  ion-grid ion-img {
    font-size: 3rem;
    position: absolute;
    margin-top: 5%;
    left: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    display: block;
    color: black;
  }
  
  ion-grid ion-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fffffff5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #8a030380;
  }
  
  ion-grid ion-card-content {
    text-align: center;
    margin-top: 10%;
    color: black;
  }
  
  .blood-tips {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    margin-top: -10px;
  }
  
  .tips-card {
    max-width: 500px;
    width: 90%;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 0;
    border-radius: 10px;
    border: 1px solid #8a030380;
  }
  
  .tips-card h2 {
    color: black;
    font-size: 20px;
  }
  
  .tips-card ion-card-header {
    --margin-top: 0;
    --margin-buttom: 0;
  }
  
  .tips-card ion-card-content {
    color: black;
    font-size: 16px;
    font-weight: 600;
  }
  
  .mycolor{
    --background: var(--ion-color-btn);
  }
  .logout-grid {
    position: absolute;
    bottom: 0;
    width: 100%;
  }